body {
    margin:0;
    padding:0;
    background: #000;
    font-family: 'Montserrat', sans-serif;
}

form {
    margin: 20px;
}

h1{
    margin:0;
}

img {
    width: 80%;
    margin: 30px;
}

nav {
    width: 100%;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 3.0rem;
    line-height: 2.6rem;
    height: 3rem;
    background: #000;
    padding: 20px;
    position: relative;
    text-align: center;
    vertical-align: center;
}

.btn{
    font-size: 1.5rem;
    margin: 20px;
    outline: none;
}

.btn:focus {
    /*transform: scale(2.02);*/
    background: black;
    border: rgba(120, 120, 120, 0.3) 1px solid;
    color: white;
}


.btn:hover {
    /*background: #c3909b;
    border: none;*/
    transform: scale(0.98);
}

.card{
    background-color: #000;
    border-radius: 10px;
    /*height: 80vh;*/
    width: 100%;
    color: white;
    padding: 20px;
    box-shadow: 0px 0px 50px rgba(120, 120, 120, 0.3);
    border-collapse: collapse;
}

.container{
    border-radius: 50px;
    margin: 20px auto;
    text-align: center;
    width: 80%;

}

@media (orientation:landscape) {
    .container{
        width: 40%;
    }
}

.flash {
    color: red;
    font-size: 1.5rem;
    font-weight: bold;
    list-style-type: none;
    margin: 20px 40px 20px 0;
}


.form-field input {
    display: absolute;
    font-size: 1.25rem;
    left: auto;
    width: 60%;
}

.hidden{
    color: #000
}

.list{
    text-align: center;
}


.logo {
    color: #d3d3d3;
    font-size: 3.5rem;
    line-height: 2.6rem;
    padding-left: 1.5rem;
}


.select {
    background:rgb(80, 80, 80);
    border-radius: 5px;
    margin: 30px 0;
}
